schema/ODM-protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.cdisc.org/ns/odm/v2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:odm="http://www.cdisc.org/ns/odm/v2.0" targetNamespace="http://www.cdisc.org/ns/odm/v2.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

    <!--
        +===========================================================================+
        | attribute definition groups                                               |
        | these definitions are NOT to be extended and are internal to ODM USE ONLY |
        +===========================================================================+
    -->
    <xs:attributeGroup name="ArmAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="EpochAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="SequenceNumber" type="positiveInteger" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="WorkflowRefAttributeDefinition">
        <xs:attribute name="WorkflowOID" type="oidref" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="StudyParameterAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Term" type="name" use="required"/>
        <xs:attribute name="ShortName" type="name" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="StudyTimingAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
    </xs:attributeGroup>
    <!-- Are both StudyEventGroupOID and StudyEventOID required? -->
    <!-- Why incompleteDateTime for TargetTimepoint? Why not partialDatetime? -->
    <xs:attributeGroup name="TransitionTimingConstraintAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="TransitionOID" type="oidref" use="required"/>
        <xs:attribute name="TimepointRelativeTarget" type="durationDatetime" use="required"/>
        <xs:attribute name="TimepointPreWindow" type="durationDatetime" use="optional"/>
        <xs:attribute name="TimepointPostWindow" type="durationDatetime" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="AbsoluteTimingConstraintAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="StudyEventGroupOID" type="oidref" use="required"/>
        <xs:attribute name="StudyEventOID" type="oidref" use="required"/>
        <xs:attribute name="TimepointTarget" type="incompleteDatetime" use="required"/>
        <xs:attribute name="TimepointPreWindow" type="durationDatetime" use="optional"/>
        <xs:attribute name="TimepointPostWindow" type="durationDatetime" use="optional"/>
    </xs:attributeGroup>
    <!-- Added simpleType for RelativeTimingConstraintType -->
    <xs:attributeGroup name="RelativeTimingConstraintAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="PredecessorStudyEventGroupOID" type="oidref" use="optional"/>
        <xs:attribute name="PredecessorStudyEventOID" type="oidref" use="optional"/>
        <xs:attribute name="SuccessorStudyEventGroupOID" type="oidref" use="optional"/>
        <xs:attribute name="SuccessorStudyEventOID" type="oidref" use="optional"/>
        <xs:attribute name="Type" type="RelativeTimingConstraintType" use="optional"/>
        <xs:attribute name="TimepointRelativeTarget" type="incompleteDatetime" use="required"/>
        <xs:attribute name="TimepointPreWindow" type="durationDatetime" use="optional"/>
        <xs:attribute name="TimepointPostWindow" type="durationDatetime" use="optional"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="WorkflowDefAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="WorkflowStartAttributeDefinition">
        <xs:attribute name="StartOID" type="oidref" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="TransitionAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="SourceOID" type="oidref" use="required"/>
        <xs:attribute name="TargetOID" type="oidref" use="required"/>
        <xs:attribute name="StartConditionOID" type="oidref" use="optional"/>
        <xs:attribute name="EndConditionOID" type="oidref" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="BranchingAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <!-- need to define an enumeration "Branching Type" -->
        <xs:attribute name="Type" type="branchingType" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="TargetTransitionAttributeDefinition">
        <xs:attribute name="TargetTransitionOID" type="oidref" use="required"/>
        <xs:attribute name="ConditionOID" type="oidref" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="DefaultTransitionAttributeDefinition">
        <xs:attribute name="TargetTransitionOID" type="oidref" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="WorkflowEndAttributeDefinition">
        <xs:attribute name="EndOID" type="oidref" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="CriterionAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="ConditionOID" type="oidref" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="EntryExitCriteriaAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="StucturalElementOID" type="oidref" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ExceptionEventAttributeDefinition">
        <xs:attribute name="OID" type="oid" use="required"/>
        <xs:attribute name="Name" type="name" use="required"/>
        <xs:attribute name="ConditionOID" type="oidref" use="optional"/>
    </xs:attributeGroup>
    <!--
        +===========================================================================+
        | group definitions                                                         |
        +===========================================================================+
    -->
    <xs:group name="WorkflowTransitionGroupDefinition">
        <xs:sequence>
            <xs:element ref="Transition" minOccurs="0"/>
            <xs:element ref="Branching " minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="ExceptionEventGroupDefinition">
        <xs:sequence>
            <xs:element ref="WorkflowRef" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="StudyEventGroupRef" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="StudyEventRef" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

    <!--
        +===========================================================================+
        | complexType definitions                                                   |
        +===========================================================================+
    -->
    <xs:complexType name="ODMcomplexTypeDefinition-Protocol">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:element ref="StudySummary" minOccurs="0"/>
            <xs:element ref="StudyStructure" minOccurs="0"/>
            <xs:element ref="StudyEventGroupRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Alias" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="ProtocolElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="ProtocolAttributeExtension"/>
    </xs:complexType>
    <!--
        +===========================================================================+
        | ODM (v2.0.0)                                                              |
        | StudyStructure element added                                 |
        +===========================================================================+
    -->
    <xs:complexType name="ODMcomplexTypeDefinition-StudyStructure">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:element ref="Arm" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Epoch" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="WorkflowRef" minOccurs="1"/>
            <xs:group ref="StudyStructureElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="StudyStructureAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-Arm">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:element ref="WorkflowRef" minOccurs="0"/>
            <xs:group ref="ArmElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="ArmAttributeDefinition"/>
        <xs:attributeGroup ref="ArmAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-Epoch">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:group ref="EpochElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="EpochAttributeDefinition"/>
        <xs:attributeGroup ref="EpochAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-WorkflowRef">
        <xs:sequence>
            <xs:group ref="WorkflowRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="WorkflowRefAttributeDefinition"/>
        <xs:attributeGroup ref="WorkflowRefAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-StudySummary">
        <xs:sequence>
            <xs:element ref="StudyParameter" maxOccurs="unbounded"/>
            <xs:group ref="StudySummaryElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="StudySummaryAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMComplexTypeDefinition-StudyParameter">
        <xs:sequence>
            <xs:element ref="ParameterValue" maxOccurs="unbounded"/>
            <xs:group ref="StudyParameterElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="StudyParameterAttributeDefinition"/>
        <xs:attributeGroup ref="StudyParameterAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMComplexTypeDefinition-ParameterValue">
        <xs:sequence>
            <xs:element ref="TranslatedText" maxOccurs="unbounded"/>
            <xs:group ref="ParameterValueElementExtension"/>
        </xs:sequence>
        <xs:attributeGroup ref="ParameterValueAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-StudyTiming">
        <xs:sequence>
            <xs:element ref="AbsoluteTimingConstraint" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="RelativeTimingConstraint" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="TransitionTimingConstraint" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="StudyTimingElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="StudyTimingAttributeDefinition"/>
        <xs:attributeGroup ref="StudyTimingAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-TransitionTimingConstraint">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="TransitionTimingConstraintElementExtension" minOccurs="0"
                maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="TransitionTimingConstraintAttributeDefinition"/>
        <xs:attributeGroup ref="TransitionTimingConstraintAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-AbsoluteTimingConstraint">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:group ref="AbsoluteTimingConstraintElementExtension"/>
        </xs:sequence>
        <xs:attributeGroup ref="AbsoluteTimingConstraintAttributeDefinition"/>
        <xs:attributeGroup ref="AbsoluteTimingConstraintAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-RelativeTimingConstraint">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:group ref="RelativeTimingConstraintElementExtension" minOccurs="0"
                maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="RelativeTimingConstraintAttributeDefinition"/>
        <xs:attributeGroup ref="RelativeTimingConstraintAttributeExtension"/>
    </xs:complexType>
    <!-- Removed EntryExitCriteria -->

    <xs:complexType name="ODMcomplexTypeDefinition-WorkflowDef">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:element ref="WorkflowStart" minOccurs="1"/>
            <xs:group ref="WorkflowTransitionGroupDefinition" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="WorkflowEnd" minOccurs="1" maxOccurs="unbounded"/>
            <xs:group ref="WorkflowDefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="WorkflowDefAttributeDefinition"/>
        <xs:attributeGroup ref="WorkflowDefAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-WorkflowStart">
        <xs:sequence>
            <xs:group ref="WorkflowStartElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="WorkflowStartAttributeDefinition"/>
        <xs:attributeGroup ref="WorkflowStartAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-Transition">
        <xs:sequence>
            <xs:group ref="TransitionElementExtension" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="TransitionAttributeDefinition"/>
        <xs:attributeGroup ref="TransitionAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-Branching">
        <xs:sequence>
            <xs:element ref="TargetTransition" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="DefaultTransition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="BranchingElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="BranchingAttributeDefinition"/>
        <xs:attributeGroup ref="BranchingAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-TargetTransition">
        <xs:sequence>
            <xs:group ref="TargetTransitionElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="TargetTransitionAttributeDefinition"/>
        <xs:attributeGroup ref="TargetTransitionAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-DefaultTransition">
        <xs:sequence>
            <xs:group ref="DefaultTransitionElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="DefaultTransitionAttributeDefinition"/>
        <xs:attributeGroup ref="DefaultTransitionAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-WorkflowEnd">
        <xs:simpleContent>
            <xs:extension base="text">
                <xs:attributeGroup ref="WorkflowEndAttributeDefinition"/>
                <xs:attributeGroup ref="WorkflowEndAttributeExtension"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ODMComplexTypeDefinition-Criterion">
        <xs:sequence>
            <xs:group ref="CriterionElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="CriterionAttributeDefinition"/>
        <xs:attributeGroup ref="CriterionAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMComplexTypeDefinition-EntryExitCriteria">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:element ref="EntryCriteria" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="ExitCriteria" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="EntryExitCriteriaElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="EntryExitCriteriaAttributeDefinition"/>
        <xs:attributeGroup ref="EntryExitCriteriaAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMComplexTypeDefinition-EntryCriteria">
        <xs:sequence>
            <xs:element ref="Criterion" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="EntryCriteriaElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="EntryCriteriaAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMComplexTypeDefinition-ExitCriteria">
        <xs:sequence>
            <xs:element ref="Criterion" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="ExitCriteriaElementExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="ExitCriteriaAttributeExtension"/>
    </xs:complexType>
    <xs:complexType name="ODMcomplexTypeDefinition-ExceptionEvent">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="ExceptionEventGroupDefinition" minOccurs="1" maxOccurs="1"/>
            <xs:group ref="ExceptionEventElementExtension" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attributeGroup ref="ExceptionEventAttributeDefinition"/>
        <xs:attributeGroup ref="ExceptionEventAttributeExtension"/>
    </xs:complexType>

    <!--
        +===========================================================================+
        | element definitions                                                       |
        +===========================================================================+
    -->
    <xs:element name="Protocol" type="ODMcomplexTypeDefinition-Protocol">
        <xs:unique name="UC-P-1">
            <xs:selector xpath="odm:Alias"/>
            <xs:field xpath="@Context"/>
        </xs:unique>
    </xs:element>
    <xs:element name="StudyStructure" type="ODMcomplexTypeDefinition-StudyStructure"/>
    <xs:element name="Arm" type="ODMcomplexTypeDefinition-Arm"/>
    <xs:element name="Epoch" type="ODMcomplexTypeDefinition-Epoch"/>
    <xs:element name="WorkflowRef" type="ODMcomplexTypeDefinition-WorkflowRef"/>
    <xs:element name="StudySummary" type="ODMcomplexTypeDefinition-StudySummary"/>
    <xs:element name="StudyParameter" type="ODMComplexTypeDefinition-StudyParameter"/>
    <xs:element name="ParameterValue" type="ODMComplexTypeDefinition-ParameterValue"/>
    <xs:element name="StudyTiming" type="ODMcomplexTypeDefinition-StudyTiming"/>
    <xs:element name="TransitionTimingConstraint"
        type="ODMcomplexTypeDefinition-TransitionTimingConstraint"/>
    <xs:element name="AbsoluteTimingConstraint"
        type="ODMcomplexTypeDefinition-AbsoluteTimingConstraint"/>
    <xs:element name="RelativeTimingConstraint"
        type="ODMcomplexTypeDefinition-RelativeTimingConstraint"/>
    <xs:element name="WorkflowDef" type="ODMcomplexTypeDefinition-WorkflowDef"/>
    <xs:element name="WorkflowStart" type="ODMcomplexTypeDefinition-WorkflowStart"/>
    <xs:element name="Transition" type="ODMcomplexTypeDefinition-Transition"/>
    <xs:element name="Branching" type="ODMcomplexTypeDefinition-Branching"/>
    <xs:element name="TargetTransition" type="ODMcomplexTypeDefinition-TargetTransition"/>
    <xs:element name="DefaultTransition" type="ODMcomplexTypeDefinition-DefaultTransition"/>
    <xs:element name="WorkflowEnd" type="ODMcomplexTypeDefinition-WorkflowEnd"/>
    <xs:element name="Criterion" type="ODMComplexTypeDefinition-Criterion"/>
    <xs:element name="EntryExitCriteria" type="ODMComplexTypeDefinition-EntryExitCriteria"/>
    <xs:element name="EntryCriteria" type="ODMComplexTypeDefinition-EntryCriteria"/>
    <xs:element name="ExitCriteria" type="ODMComplexTypeDefinition-ExitCriteria"/>
    <xs:element name="ExceptionEvent" type="ODMcomplexTypeDefinition-ExceptionEvent"/>
    <!--
        +===========================================================================+
        |       V2.0 Modify Study  to include StudyName and ProtocolName as attributes.                                                                  |
        +===========================================================================+
    -->
</xs:schema>
