schema/ODM-clinicaldata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.cdisc.org/ns/odm/v2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cdisc.org/ns/odm/v2.0" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

	<!--
        +===========================================================================+
        | attribute definition groups                                               |
        | these definitions are NOT to be extended and are internal to ODM USE ONLY |
        +===========================================================================+
    -->
	<xs:attributeGroup name="ClinicalDataAttributeDefinition">
		<xs:attribute name="StudyOID" type="oidref" use="required"/>
		<xs:attribute name="MetaDataVersionOID" type="oidref" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="SubjectDataAttributeDefinition">
		<xs:attribute name="SubjectKey" type="subjectKey" use="required"/>
		<xs:attribute name="TransactionType" type="TransactionType"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="SiteRefAttributeDefinition">
		<xs:attribute name="LocationOID" type="oidref" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="InvestigatorRefAttributeDefinition">
		<xs:attribute name="UserOID" type="oidref" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="StudyEventDataAttributeDefinition">
		<xs:attribute name="StudyEventOID" type="oidref" use="required"/>
		<xs:attribute name="StudyEventRepeatKey" type="repeatKey"/>
		<xs:attribute name="TransactionType" type="TransactionType"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ItemGroupDataAttributeDefinition">
		<xs:attribute name="ItemGroupOID" type="oidref" use="required"/>
		<xs:attribute name="ItemGroupRepeatKey" type="repeatKey"/>
		<xs:attribute name="TransactionType" type="TransactionType"/>
		<xs:attribute name="ItemGroupDataSeq" type="positiveInteger"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ItemDataAttributeSharedDefinition">
		<xs:attribute name="ItemOID" type="oidref" use="required"/>
		<xs:attribute name="TransactionType" type="TransactionType"/>
		<xs:attribute name="IsNull" type="YesOnly"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ItemDataTypeAttributeSharedDefinition">
		<xs:attribute name="ItemOID" type="oidref" use="required"/>
		<xs:attribute name="TransactionType" type="TransactionType"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="UserRefAttributeDefinition">
		<xs:attribute name="UserOID" type="oidref" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="LocationRefAttributeDefinition">
		<xs:attribute name="LocationOID" type="oidref" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="SignatureRefAttributeDefinition">
		<xs:attribute name="SignatureOID" type="oidref" use="required"/>
	</xs:attributeGroup>


	<!--
        +===========================================================================+
        | ODM (v1.3.0)                                                              |
        | Container definitions                                                     |
        +===========================================================================+
    -->
	<xs:attributeGroup name="AuditRecordAttributeDefinition">
		<xs:attribute name="EditPoint" type="EditPointType"/>
		<xs:attribute name="UsedMethod" type="YesOrNo"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="SignatureAttributeDefinition">
		<xs:attribute name="ID" type="xs:ID"/>
	</xs:attributeGroup>

	<!--
        +===========================================================================+
        | group definitions                                                         |
        +===========================================================================+
  -->
	<xs:group name="ItemGroupDataGroup">
		<xs:sequence>
			<xs:element ref="ItemGroupData" minOccurs="0"/>
			<xs:element ref="ItemData" minOccurs="0"/>
		</xs:sequence>
	</xs:group>


	<xs:group name="AuditRecordSignatureNotationGroup">
		<xs:sequence>
			<xs:element ref="AuditRecord" minOccurs="0"/>
			<xs:element ref="Signature" minOccurs="0"/>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	
	<!--
        +===========================================================================+
        | complexType definitions                                                   |
        +===========================================================================+
    -->
	<xs:complexType name="ODMcomplexTypeDefinition-ClinicalData">
		<xs:sequence>
			<xs:element ref="SubjectData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ItemGroupData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="AuditRecordSignatureNotationGroup" minOccurs="1"/>
			<xs:element ref="Query" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="ClinicalDataElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ClinicalDataAttributeDefinition"/>
		<xs:attributeGroup ref="ClinicalDataAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-SubjectData">
		<xs:sequence>
			<xs:element ref="InvestigatorRef" minOccurs="0"/>
			<xs:element ref="SiteRef" minOccurs="0"/>
			<xs:element ref="StudyEventData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="AuditRecordSignatureNotationGroup" minOccurs="1"/>			
			<xs:element ref="Query" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="SubjectDataElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SubjectDataAttributeDefinition"/>
		<xs:attributeGroup ref="SubjectDataAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-SiteRef">
		<xs:sequence>
			<xs:group ref="SiteRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SiteRefAttributeDefinition"/>
		<xs:attributeGroup ref="SiteRefAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-InvestigatorRef">
		<xs:sequence>
			<xs:group ref="InvestigatorRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InvestigatorRefAttributeDefinition"/>
		<xs:attributeGroup ref="InvestigatorRefAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-StudyEventData">
		<xs:sequence>
			<xs:element ref="ItemGroupData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="AuditRecordSignatureNotationGroup" minOccurs="1"/>			
			<xs:element ref="Query" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="StudyEventDataElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyEventDataAttributeDefinition"/>
		<xs:attributeGroup ref="StudyEventDataAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-ItemGroupData">
		<xs:sequence>
			<!-- 2022-07-22: For the moment we assume that ItemGroupData and ItemData can come in any order, any number of times -->
			<xs:group ref="ItemGroupDataGroup" minOccurs="1" maxOccurs="unbounded"/>
			<xs:group ref="AuditRecordSignatureNotationGroup" minOccurs="1"/>			
			<xs:element ref="Query" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="ItemGroupDataElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ItemGroupDataAttributeDefinition"/>
		<xs:attributeGroup ref="ItemGroupDataAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-ItemData">
		<xs:sequence>
			<xs:element ref="Value" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="AuditRecordSignatureNotationGroup" minOccurs="1"/>			
			<xs:element ref="Query" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="ItemDataElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ItemDataAttributeSharedDefinition"/>
   	<xs:attributeGroup ref="ItemDataAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-Signature">
		<xs:sequence>
			<xs:element ref="UserRef"/>
			<xs:element ref="LocationRef"/>
			<xs:element ref="SignatureRef"/>
			<xs:element ref="DateTimeStamp"/>
			<xs:group ref="SignatureElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SignatureAttributeDefinition"/>
		<xs:attributeGroup ref="SignatureAttributeExtension"/>
	</xs:complexType>

	<!--
        +===========================================================================+
        | ODM (v1.3.0)                                                              |
        | Container definitions                                                     |
        +===========================================================================+
    -->
	<xs:complexType name="ODMcomplexTypeDefinition-AuditRecord">
		<xs:sequence>
			<xs:element ref="UserRef"/>
			<xs:element ref="LocationRef"/>
			<xs:element ref="DateTimeStamp"/>
			<xs:element ref="ReasonForChange" minOccurs="0"/>
			<xs:element ref="SourceID" minOccurs="0"/>
			<xs:group ref="AuditRecordElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="AuditRecordAttributeDefinition"/>
		<xs:attributeGroup ref="AuditRecordAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-UserRef">
		<xs:sequence>
			<xs:group ref="UserRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="UserRefAttributeDefinition"/>
		<xs:attributeGroup ref="UserRefAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-LocationRef">
		<xs:sequence>
			<xs:group ref="LocationRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="LocationRefAttributeDefinition"/>
		<xs:attributeGroup ref="LocationRefAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-DateTimeStamp">
		<xs:simpleContent>
			<xs:extension base="datetime">
				<xs:attributeGroup ref="DateTimeStampAttributeExtension"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-ReasonForChange">
		<xs:simpleContent>
			<xs:extension base="text">
				<xs:attributeGroup ref="ReasonForChangeAttributeExtension"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-SourceID">
		<xs:simpleContent>
			<xs:extension base="text">
				<xs:attributeGroup ref="SourceIDAttributeExtension"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ODMcomplexTypeDefinition-SignatureRef">
		<xs:sequence>
			<xs:group ref="SignatureRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SignatureRefAttributeDefinition"/>
		<xs:attributeGroup ref="SignatureRefAttributeExtension"/>
	</xs:complexType>
	<!--
        +===========================================================================+
        | element definitions                                                       |
        +===========================================================================+
    -->
	<xs:element name="ClinicalData" type="ODMcomplexTypeDefinition-ClinicalData"/>
	<xs:element name="SubjectData" type="ODMcomplexTypeDefinition-SubjectData"/>
	<xs:element name="SiteRef" type="ODMcomplexTypeDefinition-SiteRef"/>
	<xs:element name="InvestigatorRef" type="ODMcomplexTypeDefinition-InvestigatorRef"/>
	<xs:element name="StudyEventData" type="ODMcomplexTypeDefinition-StudyEventData"/>
	<xs:element name="ItemGroupData" type="ODMcomplexTypeDefinition-ItemGroupData"/>
	<xs:element name="ItemData" type="ODMcomplexTypeDefinition-ItemData"/>
	<xs:element name="AuditRecord" type="ODMcomplexTypeDefinition-AuditRecord"/>
	<xs:element name="UserRef" type="ODMcomplexTypeDefinition-UserRef"/>
	<xs:element name="LocationRef" type="ODMcomplexTypeDefinition-LocationRef"/>
	<xs:element name="DateTimeStamp" type="ODMcomplexTypeDefinition-DateTimeStamp"/>
	<xs:element name="ReasonForChange" type="ODMcomplexTypeDefinition-ReasonForChange"/>
	<xs:element name="SourceID" type="ODMcomplexTypeDefinition-SourceID"/>
	<xs:element name="Signature" type="ODMcomplexTypeDefinition-Signature"/>
	<xs:element name="SignatureRef" type="ODMcomplexTypeDefinition-SignatureRef"/>

</xs:schema>
