schema/ODM-enumerations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.cdisc.org/ns/odm/v2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:nci="http://ncicb.nci.nih.gov/xml/odm/EVS/CDISC"
    xmlns:odm="http://www.cdisc.org/ns/odm/v2.0" targetNamespace="http://www.cdisc.org/ns/odm/v2.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">

    <xs:annotation>
        <xs:documentation>ODM 2.0 enumerations schema as developed by the CDISC Data Exchange
            Standards Team</xs:documentation>
    </xs:annotation>

    <xs:simpleType name="ODMVersion">
        <xs:annotation>
            <xs:documentation>Version of ODM that the file conforms to.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="2.0(.(0|([1-9][0-9]*)))?(-([0-9a-zA-Z])+)*"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        +===========================================================================+
        | ODM datatype definitions                                                  |
        | ODM extended datatype definitions (v2.0)                                  |
        +===========================================================================+
    -->
    <xs:simpleType name="DataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="integer"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="double"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="datetime"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="text"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="URI"/>
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="hexBinary"/>
            <xs:enumeration value="base64Binary"/>
            <xs:enumeration value="hexFloat"/>
            <xs:enumeration value="base64Float"/>
            <xs:enumeration value="partialDate"/>
            <xs:enumeration value="partialTime"/>
            <xs:enumeration value="partialDatetime"/>
            <xs:enumeration value="durationDatetime"/>
            <xs:enumeration value="intervalDatetime"/>
            <xs:enumeration value="incompleteDatetime"/>
            <xs:enumeration value="incompleteDate"/>
            <xs:enumeration value="incompleteTime"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CLDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="integer"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="text"/>
            <xs:enumeration value="string"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        +===========================================================================+
        | ODM attribute value enumerations                                          |
        +===========================================================================+
    -->

    <xs:simpleType name="FileType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Snapshot"/>
            <xs:enumeration value="Transactional"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Granularity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="All"/>
            <xs:enumeration value="Metadata"/>
            <xs:enumeration value="AdminData"/>
            <xs:enumeration value="ReferenceData"/>
            <xs:enumeration value="AllClinicalData"/>
            <xs:enumeration value="SingleSite"/>
            <xs:enumeration value="SingleSubject"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Context">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Archive"/>
            <xs:enumeration value="Exchange"/>
            <xs:enumeration value="Submission"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EventType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Scheduled"/>
            <xs:enumeration value="Unscheduled"/>
            <xs:enumeration value="Common"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BranchingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Exclusive"/>
            <xs:enumeration value="Parallel"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudyObjectiveType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Primary"/>
            <xs:enumeration value="Secondary"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- TrialPhaseType is extensible -->
    <xs:simpleType name="TrialPhaseType">
        <xs:annotation>
            <xs:documentation>A terminology codelist relevant to the phase, or stage, of the clinical trial.</xs:documentation>
            <xs:appinfo>
                <Alias Name="C66737" Context="nci:ExtCodeID"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NOT APPLICABLE">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C48660" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE 0 TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C54721" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE I TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C15600" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE I/II TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C15693" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE II TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C15601" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE II/III TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C15694" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE IIA TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C49686" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE IIB TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C49688" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE III TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C15602" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE IIIA TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C49687" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE IIIB TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C49689" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE IV TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C15603" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PHASE V TRIAL">
                        <xs:annotation>
                            <xs:appinfo>
                                <Alias Name="C47865" Context="nci:ExtCodeID"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="StudyEndPointType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Simple"/>
            <xs:enumeration value="Humane"/>
            <xs:enumeration value="Surrogate"/>
            <xs:enumeration value="Composite"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RelativeTimingConstraintType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="StartToStart"/>
            <xs:enumeration value="StartToFinish"/>
            <xs:enumeration value="FinishToStart"/>
            <xs:enumeration value="FinishToFinish"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Comparator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LT"/>
            <xs:enumeration value="LE"/>
            <xs:enumeration value="GT"/>
            <xs:enumeration value="GE"/>
            <xs:enumeration value="EQ"/>
            <xs:enumeration value="NE"/>
            <xs:enumeration value="IN"/>
            <xs:enumeration value="NOTIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SoftOrHard">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Soft"/>
            <xs:enumeration value="Hard"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Insert"/>
            <xs:enumeration value="Update"/>
            <xs:enumeration value="Remove"/>
            <xs:enumeration value="Upsert"/>
            <xs:enumeration value="Context"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sponsor"/>
            <xs:enumeration value="Investigator"/>
            <xs:enumeration value="Lab"/>
            <xs:enumeration value="Other"/>
            <!-- extended 2022 ODMv2 -->
            <xs:enumeration value="Subject"/>
            <xs:enumeration value="Monitor"/>
            <xs:enumeration value="Data analyst"/>
            <xs:enumeration value="Care provider"/>
            <xs:enumeration value="Assessor"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Not used anymore
    <xs:simpleType name="LocationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sponsor"/>
            <xs:enumeration value="Site"/>
            <xs:enumeration value="CRO"/>
            <xs:enumeration value="Lab"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType> -->
    <xs:simpleType name="OrganizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sponsor"/>
            <xs:enumeration value="Site"/>
            <xs:enumeration value="CRO"/>
            <xs:enumeration value="Lab"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="TechnologyProvider"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TelecomTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Email"/>
            <xs:enumeration value="Pager"/>
            <xs:enumeration value="Phone"/>
            <xs:enumeration value="Fax"/>
            <xs:enumeration value="SMS"/>
            <xs:enumeration value="URL"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CommentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sponsor"/>
            <xs:enumeration value="Site"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SignMethod">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Digital"/>
            <xs:enumeration value="Electronic"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EditPointType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Monitoring"/>
            <xs:enumeration value="DataManagement"/>
            <xs:enumeration value="DBAudit"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesOrNo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesOnly">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MethodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Computation"/>
            <xs:enumeration value="Imputation"/>
            <xs:enumeration value="Transpose"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItemGroupRepeatingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="No"/>
            <xs:enumeration value="Simple"/>
            <xs:enumeration value="Dynamic"/>
            <xs:enumeration value="Static"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItemGroupTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Form"/>
            <xs:enumeration value="Dataset"/>
            <xs:enumeration value="Concept"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QuerySourceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="System"/>
            <xs:enumeration value="Data Management"/>
            <xs:enumeration value="Site Monitor"/>
            <xs:enumeration value="Coding System"/>
            <xs:enumeration value="Safety Reviewer"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Manual"/>
            <xs:enumeration value="System"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryStateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Candidate"/>
            <xs:enumeration value="Open"/>
            <xs:enumeration value="Answered"/>
            <xs:enumeration value="Closed"/>
            <xs:enumeration value="Cancelled"/>
            <xs:enumeration value="Resolved"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
